.bread-crumbs {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__container {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__skeleton {
    display: flex;
    gap: 10px;
    flex: 1;
  }
}
