$white: #fff !default;
$grey: #eee !default;
$black: #000;
$gray: #f3f4f6;
$light-gray: #f8f9fa;
$border-grey-light: #d9dcde;
$border-grey-dark: #333c48;
$light-green: #82bf99;
$dark-green: #3b734f;
$icon-grey: #61656f;
$border-grey: #dadcde;
$theme-dark-background: #324156;

$disabled: #9e9ea8;
$dark-background: #1f2936;
$bg-light: #eef3f9;
$bg-dark: #22272e;
$bg-dark-light: #232e3c;

$color-light-slate-01: #151718;
$color-dark-slate-01: #fbfcfd;
$color-light-slate-02: #f8f9fa;
$color-dark-slate-02: #1a1d1e;
$color-light-slate-03: #f1f3f5;
$color-dark-slate-03: #202425;
$color-light-slate-04: #eceef0;
$color-dark-slate-04: #26292b;
$color-light-slate-05: #e6e8eb;
$color-dark-slate-05: #2b2f31;
$color-light-slate-07: #d7dbdf;
$color-dark-slate-07: #3a3f42;
$color-light-slate-08: #c1c8cd;
$color-dark-slate-08: #4c5155;
$color-light-slate-09: #889096;
$color-dark-slate-09: #697177;
$color-light-slate-11: #687076;
$color-dark-slate-11: #9ba1a6;
$color-light-slate-12: #11181c;
$color-dark-slate-12: #ecedee;

$color-light-indigo-02: #f8faff;
$color-dark-indigo-02: #15192d;
$color-light-indigo-03: #f0f4ff;
$color-dark-indigo-03: #192140;
$color-light-indigo-04: #e6edfe;
$color-dark-indigo-04: #1c274f;
$color-light-indigo-05: #d9e2fc;
$color-dark-indigo-05: #1f2c5c;
$color-light-indigo-09: #3e63dd;
$color-dark-indigo-09: #3e63dd;
$color-light-indigo-10: #3a5ccc;
$color-dark-indigo-10: #849dff;
$color-light-indigo-11: #3451b2;
$color-dark-indigo-11: #849dff;

$color-light-tomato-09: #e54d2e;
$color-dark-tomato-09: #e54d2e;
$color-light-tomato-10: #db4324;
$color-dark-tomato-10: #ec5e41;

$color-light-grass-11: #297c3b;
$color-dark-grass-11: #63c174;

$color-light-base: #ffffff;
$color-dark-base: #121212;

$primary-rgb: 77, 114, 250;
$primary-rgb-darker: 77, 94, 240;
$primary: unquote('rgb(#{$primary-rgb})');
$primary-light: unquote('rgb(#{$primary-rgb-darker})');

.color-primary {
  color: $primary !important;
}

.color-light-green {
  color: #46a758;
}
.bg-white {
  background-color: $white;
}

.bg-light-1 {
  background-color: #a6b6cc !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-gray {
  background-color: $gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.color-black {
  color: $black !important;
}

.color-disabled {
  color: $disabled;
}

.bg-light {
  background: $bg-light;
}
.bg-dark {
  background: $dark-background;
}

.mute-text {
  color: #8092ab;
}
.color-white {
  color: white !important;
}
.color-muted {
  color: #dcdcdc;
}
.color-muted-darkmode {
  color: #646d77;
}
.color-whitish-darkmode {
  color: #c9cbcf !important;
}
.bg-light-green {
  background: #f3fcf3;
}
.bg-light-indigo {
  background: #e6edfe !important;
}
.bg-dark-indigo {
  background: #1c274f !important;
}
.bg-light-indigo-09 {
  background: $color-light-indigo-09;
}
.color-light-slate-11 {
  color: $color-light-slate-11;
}
.color-dark-slate-11 {
  color: $color-dark-slate-11;
}
.color-light-slate-12 {
  color: $color-light-slate-12;
}
.color-dark-slate-12 {
  color: $color-dark-slate-12;
}
.color-light-gray-c3c3c3 {
  color: #c3c3c3;
}

.bg-color-primary {
  background-color: $primary !important;
}
